.contact-us-container{
    animation: fadeInSlideUp 1s ease-out;
    height: auto;

    .section-contact:nth-child(2){
        height: auto;
    }
    .section-contact:nth-child(3){
        height: auto;
    }

    .section-contact:nth-child(1){
        height: 60vh;
        background: url(/asset/contact-us1.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 27px;

        .contact-display{
            background: transparent;
            padding: 50px 100px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;

            a, h1,span{
                color: whitesmoke;
                background: transparent;
            }

            a, span{
                font-size: 17px;
            }
        }
    }

    .section-contact:nth-child(2){

        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .box{
            width: 680px;
            flex-grow: 1;
        }

        .box:nth-child(1){
            min-height: 400px;
            background: url(/asset/contact-us2.jpg);
            background-position: left;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .box:nth-child(2) ul{
            display: flex;
            flex-direction: column;

        }

        .box:nth-child(2){
            overflow: hidden;
        }

        .box:nth-child(2) ul .info{
            width: 100%;
            min-height: 200px;
            height: auto;
        }

        .box:nth-child(2) ul .info ul li{
            display: flex;
            flex-wrap: wrap;
        }
        .box:nth-child(2) ul .info ul:nth-child(1) {
            display: flex;
            text-align: center;
            align-items: center;
            flex-direction: column;
            padding: 10px;
            flex-wrap: wrap;
        }
        
        .box:nth-child(2) ul .info ul:nth-child(1) li{
            width: 80%;
            display: flex;
            justify-content: space-around;
            gap: 20px;
        }

        .box:nth-child(2) ul .info ul li .box-info{
            width: 45%;
            height: 150px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(128, 128, 128, 0.452);
            display: grid;
            justify-content: space-evenly;
            gap: 20px;
            grid-template-columns: 50px 1fr;
            box-sizing: border-box;
            padding: 10px;
        }

        .box:nth-child(2) ul .info ul li .box-info .details i{
            font-size: 30px;
            padding-top: 30px;
            color: rgba(0, 0, 255, 0.57);
        }

        .box:nth-child(2) ul .info ul li .box-info .details:nth-child(2){
            font-size: 15px;
            text-align: start;
            padding-top: 20px;
        }

        .box:nth-child(2) ul .info:nth-child(4){
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            padding: 12rem;
        }

        
    }

    .section-contact:nth-child(3){
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 480px){
    .section-contact{
        font-size: 12px;
    }

    .box:nth-child(2) ul .info ul li{
        flex-direction: column;
    }

    .box:nth-child(2) ul .info ul li .box-info{
        width: 100% !important;
    }

    .box:nth-child(2) ul .info:nth-child(4){
        padding: 50px !important;
    }
}

  @keyframes fadeInSlideUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  